# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
